input {
  width: 300px;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}

body {
  background-color: skyblue;
}
form {
  padding-bottom: 50px;
}

#answer {
  display: none;
  font-size: 30px;
  text-align: center;
}
